# =========================
# BUILD FOLDER
# =========================
build/
Debug/
Release/
out/

# =========================
# CMAKE
# =========================
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# =========================
# EXECUTABLE & BINARY
# =========================
*.exe
*.dll
*.pdb
*.lib
*.so

# =========================
# IMGUI / CONFIG
# =========================
imgui.ini

# =========================
# ENGINE / TOOL
# =========================
stockfish.exe

# =========================
# PYTHON (kalau nanti dipakai)
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.env/

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# OPTIONAL: templates (kalau mau tetap disimpan, HAPUS ini)
# =========================
# templates/